<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Flask Lab 4{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
<header>
    <h1>Flask Lab 4: Request, Session, Cookies</h1>
    <nav>
        <a href="{{ url_for('users.login') }}">Вхід</a> |
        <a href="{{ url_for('users.profile') }}">Профіль</a> |
        <a href="{{ url_for('users.logout') }}">Вихід</a>
        <a href="{{ url_for('users.contact') }}">Контакти</a> |

    </nav>
</header>

<section class="flash-container">
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, msg in messages %}
                <div class="flash {{ category }}">{{ msg }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</section>

<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>
